@import url(https://fonts.googleapis.com/css2?family=Unbounded:wght@800&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: unbounded;
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-family: unbounded;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-family: inter;
  font-size: 26px;
  margin: 0;
  color: black;
}

h3 {
  font-family: inter;
  font-size: 24px;
  margin: 0;
  color: black;
}

h4 {
  font-family: inter;
  font-size: 18px;
  margin: 0;
  color: black;
}

p {
  font-family: inter;
  color: black;
  font-size: 16px;
}

@media screen and (max-width: 1360px) {
  header {
    font-size: 50px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}
@media screen and (max-width: 840px) {
  header {
    font-size: 35px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}
@media screen and (max-width: 580px) {
  header {
    font-size: 30px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  h4 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("Background-brainwave.png");
}

.animate-line {
  opacity: 1;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
}

.hero-container {
  height: 100vh;
}
.hero-container-text {
  top: 42%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container-text--svg--container {
  overflow: hidden;
  position: absolute;
  width: 85%;
  z-index: -1;
}
.hero-container-text--svg--container svg {
  width: inherit;
  opacity: 0.4;
  z-index: -1;
  justify-content: center;
  align-items: center;
}

.cta-container-explorebrainwave {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 72%;
}

.cta-container-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  padding: 0.8em 1.5em 0.8em 1.5em;
  border-radius: 12px;
  border: none;
  background: #000062;
  cursor: pointer;
}
.cta-container-button-text {
  color: white;
  text-transform: uppercase;
}
.cta-container-button-image {
  display: flex;
  align-items: center;
  background: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: transform 0.3s;
}

.cta-inline {
  margin-top: 1em;
}

.cta-container-button:hover .cta-container-button-image {
  transform: translateX(8px);
}

.main-text-container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}
.main-text-container-row {
  padding: 200px 18% 50px 18%;
  display: flex;
  gap: 3em;
  flex-wrap: nowrap;
}
.main-text-container-row-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 50%;
}
.main-text-container-row-right img {
  border-radius: 12px;
  width: 100%;
}
.main-text-container-column {
  padding: 50px 0% 50px 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
.main-text-container-column-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-text-container-column-top h4 {
  text-align: center;
  width: 45%;
  margin: 1em 0;
}
.main-text-container-column-bottom {
  width: 100%;
  overflow: hidden;
}
.main-text-container-column-bottom-scroll {
  display: flex;
  cursor: pointer;
  gap: 2em;
  width: 100%;
}
.main-text-container-column-bottom-scroll-img {
  border-radius: 12px;
}

@media screen and (max-width: 1360px) {
  .main-text-container-row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-text-container-row-left {
    width: 100%;
  }
  .main-text-container-column-top h4 {
    width: 65%;
  }
}
.footer {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.footer-top {
  transform: translateY(2px);
}
.footer-content {
  padding: 100px 18% 50px 18%;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 8em;
}
.footer-content-main {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.footer-content-main-left {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.footer-content-main-right {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.footer-content-main-right-text-socials {
  display: flex;
  gap: 1em;
  margin-top: 16px;
}
.footer-content-main-right-text-socials-links {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.footer-content-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.navbar {
  z-index: 1;
  display: flex;
  position: absolute;
  justify-content: space-between;
  padding: 20px 50px;
  top: 0;
  left: 0;
  width: 95%;
}
.navbar a {
  cursor: pointer;
}
.navbar img {
  width: 150px;
}
.navbar li {
  text-transform: uppercase;
  display: table-cell;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.blogpage-main-title {
  z-index: -1;
}
.blogpage-main-title-text {
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 18% 0px 18%;
}
.blogpage-main-title-text-backbutton {
  margin-bottom: 18px;
  width: 50px;
}
.blogpage-main-title-text-backbutton button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogpage-main-title-text-backbutton button svg {
  fill: #87EAFF;
}
.blogpage-main-title-text--svg--container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.blogpage-main-title-text--svg--container svg {
  width: 100%;
  opacity: 0.4;
  z-index: -1;
  justify-content: center;
  align-items: center;
}
.blogpage-main-title-text--svg--container svg line {
  opacity: 1;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
}

.blog-text {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 0 50px white;
  padding: 0 0 100px 0;
  margin: 150px 18% 40px 18%;
}
.blog-text h4 {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-text p {
  font-weight: normal;
}

.other-blogs {
  background-color: white;
  padding: 90px 18%;
  margin-bottom: 100px;
}
.other-blogs-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: space-between;
}

.blogbutton {
  width: 300px;
  height: 300px;
  background-color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 2em;
  text-align: start;
}
.blogbutton h5 {
  text-transform: uppercase;
}
.blogbutton h4 {
  text-transform: uppercase;
  font-family: unbounded;
}

.button1 {
  background: url("blog-kaart-1.png") center;
  background-size: cover;
  transform: rotateZ(2deg);
}

.button2 {
  background: url("blog-kaart-2.png") center;
  background-size: cover;
  transform: rotateZ(-1deg);
}

.button3 {
  background: url("blog-kaart-3.png") center;
  background-size: cover;
  transform: rotateZ(1deg);
}

.page-main-title {
  z-index: -1;
}
.page-main-title-text {
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 18% 0px 18%;
  text-align: center;
}
.page-main-title-text--svg--container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.page-main-title-text--svg--container svg {
  width: 100%;
  opacity: 0.4;
  z-index: -1;
  justify-content: center;
  align-items: center;
}
.page-main-title-text--svg--container svg line {
  opacity: 1;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
}

.blogs {
  padding: 90px 18%;
  margin-bottom: 100px;
  text-align: center;
}
.blogs-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 90px;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */